body {
	text-align: center;
	background-color: black;
}
ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	font-size: 24px;
	font-family: pokemon;
	color: yellow;
}
@font-face {
  font-family: pokemon;
  src: url(../fonts/pokemon_solid.ttf);
}
h1 {
	color: yellow;
	font-family: pokemon;
	letter-spacing: 4px;
	font-size: 48px;
}
a {
	text-decoration: none;
	color: yellow;
}
a:hover, a:active {
  color: red;
}